.jb_adelaide {
  --AccentIcon: "☞"
}

.jb_aj {
  --AccentIcon: "⌖"
}

.jb_beauregard {
  --AccentIcon: "Ω"
}

.jb_cooper {
  --AccentIcon: "❄︎"
}

.jb_danny {
  --AccentIcon: "⚑"
}

.jb_edwin {
  --AccentIcon: "➜"
}

.jb_giuseppe {
  --AccentIcon: "☾"
}

.jb_james {
  --AccentIcon: "♫"
}

.jb_olivier {
  --AccentColor: #FADB9D;
  --AccentIcon: "☼";
}

.jb_theodore {
  --AccentIcon: "✘";
}

.jb_plotter {
  --AccentColor: #d0afff;
  --AccentIcon: "♡";
}
